.momo {
  font-family: "Momo Signature", cursive; /*Write name*/
}
.cinzel {
  font-family: "Cinzel Decorative", serif; /*For sanskrit*/
}
.warnes {
  font-family: "Warnes", cursive; /*use for phone no.*/
}
.audiowide {
  font-family: "Audiowide", sans-serif; /*Some highlight in a big paragraph*/
}
.zilla {
  font-family: "Zilla Slab Highlight", serif; /*For highlight*/
}
.sirin {
  font-family: "Sirin Stencil", sans-serif; /*Jut normal using fonts use in any form*/
}
.indie {
  font-family: "Indie Flower", cursive; /*Every one Numbers*/
}
.arvo {
  font-family: "Arvo", serif; /*Jut normal using fonts*/
}
.agbalumo {
  font-family: "Agbalumo", system-ui; /*For heading or start a point it's a bold format*/
}
.yatra {
  font-family: "Yatra One", system-ui;
}
.stalinist{
  font-family: "Stalinist One", sans-serif; /*For main heading*/
}